/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* #0192b1 - old hornets teal
#293a96 - old hornets purp */

/* #25165e - new hornets purp */



.maincontainer {
  top: -3%;
  position: relative;
}

.row {
  margin-top: 2.5vh;
}

.prev {
  position: relative;
  left: 5%;
  box-shadow: 0 0 20px 1px whitesmoke;
}

.next {
  position: relative;
  right: 5%;
  box-shadow: 0 0 20px 1px whitesmoke;
}

.date-btn {
  position: relative;
  top: -2px;
}


.date-btn-div {
  /* border: 3px solid #dce775; */
  border-radius: 5px;
  padding: 10px !important;
  position: relative;
  top: 10px;
  box-shadow: 0 0 40px 3px #9C2542,
              0 0 40px 3px #9C2542 inset;
}

.header2 {
  text-shadow: 1px 1px 4px #000000;
}


.section {
  background-image: url("../img/cltskycrop.jpg");
  background-size: cover;
  height: 100vh;
  border-color: #8DED8E;
  border-width: 4px 4px 0px 4px;
  box-shadow: 0 0 50px 8px #25165e inset;
  
}

.cards {
  opacity: .25;
}

.date {
  text-shadow: 1px 1px 4px #000000;
  color: whitesmoke;
  font-size: 1.6rem;
  line-height: 40px;
  padding-left: 2vw;
  padding-right: 2vw;
  letter-spacing: 1px;
  position: relative;
  top: 2px;
}

.close-icon-top {
  position: absolute;
  top: 0;
  right: 0;
}

.tix-btn-front {
  position: absolute;
  bottom: 81px;
  left: 36%;
}

.close-icon-bottom {
  
}

.gmap-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
  font-weight: boldest;
  font-size: .9rem !important;
  line-height: .9rem !important;
}

.card-content {
  position: relative;
  top: -3%;
}

 .card-title {
  text-shadow: 2px 2px 4px black; 
  font-size: 1.6vh !important;
  line-height: 2.2vh !important;
  color: whitesmoke !important;
  font-weight: 800 !important;
  
  /* -webkit-text-stroke: .4px black !important; */
 }

 .tix-btn {
   
 }

 .negative {
  -webkit-filter: invert(1);
  filter: invert(1);
 }

 .card-div {
  position:relative;
  box-shadow: 0 0 70px 2px #25165e;
 }

 .card-desc {
  font-size: 1.5vh !important;
  line-height: 2.5vh !important;
 }

 .card-reveal {
  position: relative;
 }

.btn-icon {
  
 }




 .card-bar-logo {
   height: auto;
   width: 100%;
 }

 .card {
  height: 28vh;
  line-height: 18px;
  background-color: whitesmoke !important;
 }

 .radius {
  border-radius: .5vw !important;
 }

 .top-radius {
  border-radius: .5vw .5vw 0vw 0vw !important;
 }

 .bottom-radius {
  border-radius: 0vw 0vw .5vw .5vw !important;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

.nav-extended {
  height: 5vh;
}

.navlink {
  font-family: 'Asap', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  color: whitesmoke;
}

.secondnav {
  padding-left: 40%;
  font-size: 42px;
}

.nav-wrapper {
  text-align: center;
}

p {
  line-height: 2rem;
}

.logo {
  border-radius: 5px;
  height: 15vw;
  
}

.navimage {
  height: 5vh;
  padding: 10px;
  border-radius: 7px;
}

.header {
  text-shadow: 2px 2px 4px #000000;
  padding: 0;
}

.title {

    text-shadow: 2px 2px 4px #000000;
    font-family: 'Permanent Marker', cursive;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 75vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    /* top: 10%; */
  }

  .date {

    padding-left: 0;
    /* padding-right: 0;  */
    /* letter-spacing: 1px; */
    font-size: 1rem;
    /* line-height: 40px; */
  }


  .logo {
    width: 85vw;
    height: 61vw;
  }

  .date-btn {
    position: relative;
    top: 0;
  }

  .btn-icon {
    position: relative;
    top: -8px;
  }

  .row {
    margin-top: 0;
  }

  .gmap-link {
    font-size: 3vh !important;
    line-height: 3.5vh !important;
  }



}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .link-text {
    font-family: 'Permanent Marker', cursive;
    color: #dce775 !important;
    text-shadow: 2px 2px 4px #000000;
  }


  .mobile-link {
    display: inline-block !important;
    
  }

  .navimage {
    height: 50px;
    border-radius: 2px;
    padding: 0;
    /* padding: 10px 10px 0px 0px; */
  }

  

  .mobile-nav-image {
    position: absolute;
    right: 0;

  }

  .logo {
    width: 85vw;
    height: 61vw;
  }

  nav {
    /* height: 28vh; */
  }



  .card {
    height: 58vh;
    line-height: 18px;
    width:100%;
    overflow: hidden;
   }

   .card-title {
    text-shadow: 2px 2px 4px black; 
    font-size: 3.8vh !important;
    line-height: 5.3vh !important;
    color: whitesmoke !important;
    font-weight: 800 !important;
    
    /* -webkit-text-stroke: .4px black !important; */
   }

   .card-desc {
    font-size: 4.5vh !important;
    line-height: 5.8vh !important;
   }

}







.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}