/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */


/* #0192b1 - old hornets teal
#293a96 - old hornets purp */

/* #25165e - new hornets purp */

.cards {
  opacity: .25;
}

.date {
  text-shadow: 1px 1px 4px #000000;
  font-weight: boldest;
}

.close-icon-top {
  position: absolute;
  top: 0;
  right: 0;
}

.tix-btn-front {
  position: absolute;
  bottom: 81px;
  left: 36%;
}

.close-icon-bottom {
  /* position: absolute; */
}

.gmap-link {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  text-shadow: 2px 2px 4px #000000;
  font-weight: boldest;
}

.card-content {
  position: relative;
}

 .card-title {
  text-shadow: 2px 2px 4px black; 
  font-size: 1.6vh !important;
  line-height: 2.2vh !important;
  color: whitesmoke !important;
  font-weight: 800 !important;
  
  /* -webkit-text-stroke: .4px black !important; */
 }

 .tix-btn {
   
 }

 .negative {
  -webkit-filter: invert(1);
  filter: invert(1);
 }

 .card-div {
  position:relative;
 }

 .card-desc {
  font-size: 1.5vh !important;
  line-height: 2.5vh !important;
 }

 .card-reveal {
  position: relative;
 }

.btn-icon {
  position: relative;
  top: -14px;
 }




 .card-bar-logo {
   height: auto;
   width: 100%;
 }

 .card {
  height: 45vh;
  line-height: 18px;
  background-color: whitesmoke !important;
 }

 .radius {
  border-radius: .5vw !important;
 }

 .top-radius {
  border-radius: .5vw .5vw 0vw 0vw !important;
 }

nav ul a,
nav .brand-logo {
  color: #444;
}

.nav-extended {
  height: 5vh;
}

.navlink {
  font-family: 'Asap', sans-serif;
  text-shadow: 2px 2px 4px #000000;
  color: whitesmoke;
}

.secondnav {
  padding-left: 40%;
  font-size: 42px;
}

.nav-wrapper {
  text-align: center;
}

p {
  line-height: 2rem;
}

.logo {
  border-radius: 5px;
  height: 15vw;
  
}

.navimage {
  height: 5vh;
  padding: 10px;
  border-radius: 7px;
}

.header {
  text-shadow: 2px 2px 4px #000000;
  padding: 0;
}

.title {

    text-shadow: 2px 2px 4px #000000;
    font-family: 'Permanent Marker', cursive;
}

.button-collapse {
  color: #26a69a;
}

.parallax-container {
  min-height: 75vh;
  line-height: 0;
  height: auto;
  color: rgba(255,255,255,.9);
}
  .parallax-container .section {
    width: 100%;
  }



@media only screen and (max-width : 992px) {
  .parallax-container .section {
    position: absolute;
    top: 40%;
  }
  #index-banner .section {
    top: 10%;
  }


  .logo {
    width: 85vw;
    height: 61vw;
  }


}

@media only screen and (max-width : 600px) {
  #index-banner .section {
    top: 0;
  }

  .link-text {
    font-family: 'Permanent Marker', cursive;
    color: #dce775 !important;
    text-shadow: 2px 2px 4px #000000;
  }


  .mobile-link {
    display: inline-block !important;
    
  }

  .navimage {
    height: 50px;
    border-radius: 2px;
    padding: 0;
    /* padding: 10px 10px 0px 0px; */
  }

  .mobile-nav-image {
    position: absolute;
    right: 0;

  }

  .logo {
    width: 85vw;
    height: 61vw;
  }

  nav {
    /* height: 28vh; */
  }



  .card {
    height: 80vh;
    line-height: 18px;
    width:100%;
   }

   .card-title {
    text-shadow: 1px 1px 4px white;
    font-size: 4.7vh !important;
    line-height: 6.3vh !important;
   }

   .card-desc {
    font-size: 4.5vh !important;
    line-height: 5.8vh !important;
   }

}







.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
  font-size: inherit;
}

footer.page-footer {
  margin: 0;
}